*.EXE
*.TXT
*.HLP
*.PIF
*.PAS
*.CFG
*.asm
*.COM
*.PCK
*.AH
*.AB
*.HEX
*.BAT
*.LST
*.OBJ
*.BGI
*.TMP
*.REG
*.OVR
*.ERR
*.BAK
51B.ASM
51MO.ASM
51MO.CMD
EXAMPLE/
F.CMD
HEX
LAHEX
Method/
PROM.CMD
input2.dat
*~